In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'Delta_passengers_data.csv')
print(data)

     Year  Month  DOMESTIC  INTERNATIONAL       TOTAL
0    2002     10   5002444       255639.0   5258083.0
1    2002     11   4691586       241048.0   4932634.0
2    2002     12   5113518       252895.0   5366413.0
3    2002  TOTAL  59283801      3250341.0  62534142.0
4    2003      1   4475794       224641.0   4700435.0
..    ...    ...       ...            ...         ...
258  2022      8   8396700       935439.0   9332139.0
259  2022      9   7973088            NaN         NaN
260  2022     10   8278023            NaN         NaN
261  2022     11   8054355            NaN         NaN
262  2022  TOTAL  86395890      6259968.0  68350392.0

[263 rows x 5 columns]

In [3]:
data.describe()

              Year      DOMESTIC  INTERNATIONAL         TOTAL
count   263.000000  2.630000e+02   2.600000e+02  2.600000e+02
mean   2012.304183  1.097679e+07   1.158864e+06  1.207535e+07
std       5.856316  1.828150e+07   2.026809e+06  2.003610e+07
min    2002.000000  3.657350e+05   1.713700e+04  3.875600e+05
25%    2007.000000  4.325584e+06   3.989892e+05  4.702877e+06
50%    2012.000000  6.276918e+06   6.696975e+05  6.911862e+06
75%    2017.000000  7.800630e+06   9.162405e+05  8.641873e+06
max    2022.000000  1.053209e+08   1.247839e+07  1.177993e+08

In [ ]:
#PIE PLOT
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
langs = ['C', 'C++', 'Java', 'Python', 'PHP']
students = [23,17,35,29,12]
ax.pie(students, labels=langs)
plt.show()